<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mini.movie.mappers.MovieMapper">

<select id="readreview">
	
	select c.cno ,c.ccontent, c.cupdate ,ci.cimg
	from tb_report r , tb_comment c , tb_commentimg ci
	where r.rno = #{c.rno} and c.cno = #{ci.cno}
	
</select>

<select id="list">

	select r.rno , r.rtitle , r.rcontent , r.rregdate ,ri.rimg
	from tb_member m , tb_report r , tb_reportimg ri
	where m.id = #{r.id} and r.rno = #{ri.rno}
	
</select>

<insert id="place">
	insert into tb_report(pname , addr) value(#{pname},#{addr})
</insert>

<select id="getList" resultType="reportlist">
	
	<choose>
		<when test="searchkeyword != ''">
			select rimg, r.*
				from
				(select rno, rtitle, rcontent  
						from 
		  						(select mcode from tb_movie where mtitle like "%'#{searchkeyword}'%" ) movie left outer join tb_report report on movie.mcode = report.mcode
				) r inner join tb_reportimg img on r.rno = img.rno group by img.rno
		</when>
		<otherwise>
			select r.* , ri.rimg
				from tb_report r , tb_reportimg ri
			where r.rno = ri.rno
			group by ri.rno
		</otherwise>
	</choose> 
	order by r.rno desc limit #{cri.skip}, #{cri.size}	
</select>

<select id="getTotal" resultType="int">
	select count(rno)
	<choose>
		<when test="searchkeyword != ''">
			(select mcode from tb_movie where mtitle like CONCAT('%', #{searchkeyword}, '%') ) movie left outer join tb_report report on movie.mcode = report.mcode;
		</when>
		<otherwise>
			from tb_report;
		</otherwise>
	</choose>
</select>

</mapper>
  