<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.java97.mappers.MyTodoMapper">
	<insert id="create">
	
	<selectKey resultType="long" keyProperty="tno" order="BEFORE">
        SELECT MAX(tno)+1 FROM tbl_do        
    </selectKey>  
    
		insert into tbl_do (tno, title, todo)
		values (#{tno}, #{title},
		#{todo})
	</insert>

	<select id="read" resultType="MyTodo">
		select * from tbl_do where tno =
		#{tno}
	</select>

	<delete id="delete">
		delete from tbl_do where tno = #{tno}
	</delete>

</mapper>  

